#top {
  width: 800px;
  background-color: #dcc9f4;
  margin: 20px auto;
}

.top-child {
  width: 20%;
  background-color: #ffd9df;
  display: inline-block;
  margin-left: 10px;
  margin-right: auto;
}